<form id="new_shipment_form" action="/shipments" method="POST">
    <h2>TO ADDRESS</h2>
    <input type="text" name="to_address[street1]" placeholder="Street Name">
    <br>
    <input type="text" name="to_address[city]"    placeholder="City">
    <br>
    <input type="text" name="to_address[state]"   placeholder="State">
    <br>
    <input type="text" name="to_address[zip]"     placeholder="Zip">
    <br>
    <input type="text" name="to_address[country]" placeholder="Country">
    <br>
    <input type="text" name="to_address[company]" placeholder="Company">
    <br>
    <input type="text" name="to_address[phone]"   placeholder="Phone">
    <br>
    <h2>FROM ADDRESS</h2>
    <input type="text" name="from_address[street1]" placeholder="Street Name">
    <br>
    <input type="text" name="from_address[city]"    placeholder="City">
    <br>
    <input type="text" name="from_address[state]"   placeholder="State">
    <br>
    <input type="text" name="from_address[zip]"     placeholder="Zip">
    <br>
    <input type="text" name="from_address[country]" placeholder="Country">
    <br>
    <input type="text" name="from_address[company]" placeholder="Company">
    <br>
    <input type="text" name="from_address[phone]"   placeholder="Phone">
    <br>
    <input type="submit" name="New Shipment">
</form>      